@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Moderustic", sans-serif;
  font-size: 25px;
  color: white;
}

.cf-cookie-clasica {
  background: #A04747;
  border-radius: 10px;
}
.cf-cookie-clasica:hover {
  background-color: #7d3737;
}

.cf-cookie-brownie {
  background: #D8A25E;
  border-radius: 10px;
}
.cf-cookie-brownie:hover {
  background-color: #ce8a35;
}

.cf-cookie-limon {
  background: #b4a64a;
  border-radius: 10px;
}
.cf-cookie-limon:hover {
  background-color: #90853b;
}

.cf-cookie-dulce-de-leche {
  background: #A04747;
  border-radius: 10px;
}
.cf-cookie-dulce-de-leche:hover {
  background-color: #7d3737;
}

.cf-cookie-avellanas {
  background: #D8A25E;
  border-radius: 10px;
}
.cf-cookie-avellanas:hover {
  background-color: #ce8a35;
}

.cf-cookie-de-chocolate-blanco {
  background: #beaf4d;
  border-radius: 10px;
}
.cf-cookie-de-chocolate-blanco:hover {
  background-color: #9e913a;
}

.grid-card {
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-text {
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
}

.carousel-inner {
  width: 20%;
}
.carousel-inner img {
  margin: auto;
  border-radius: 15px;
}

.tamaño-img-carousel {
  width: 50%;
}

.d-block.w-100 {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
}
.footer-container .mapa-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.footer-container .nav-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: space-around;
}

.form-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.col-enviar {
  border: 5px solid black;
  background-color: grey;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

form input::placeholder,
form textarea::placeholder {
  color: #999;
}

input[type=text],
input[type=email],
textarea {
  color: black;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: rgb(197, 82, 41);
  outline: none;
}

textarea {
  resize: none;
  height: 150px;
}

.grid-container-referencia {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  margin: auto;
}

.col-md-4 {
  border: 1px solid black;
  padding: 20px;
}

.tamaño-img {
  width: 60%;
  padding: 10px;
  border-radius: 15px;
  transition: transform 1s ease-in-out;
}
.tamaño-img:hover {
  transform: rotateX(360deg);
}

.tamaño-logo {
  width: 20%;
  border-radius: 100%;
  filter: brightness(80%);
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-custom {
  background-color: rgb(0, 0, 0) !important;
}

.fondo-txt {
  border: 5px solid rgb(197, 82, 41);
  padding: 20px;
  border-radius: 15px;
}

h1 span {
  color: rgb(27, 97, 27) !important;
}

body {
  background-color: rgb(0, 0, 0) !important;
  margin: 0;
  padding: 0;
}
body a:visited {
  color: white;
}
body a:hover {
  color: green;
}
body a:active {
  color: white;
}

.box-h1 {
  display: flex;
  justify-content: center;
  margin: auto;
}

div h2 {
  font-size: 100px;
  color: rgb(156, 156, 50);
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
}
div h2:hover {
  animation: bounce;
  animation-duration: 1s;
}
div h3 {
  font-size: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
}

@media (min-width: 400px) and (max-width: 1350px) {
  .form-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .grid-container-referencia {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .navbar-toggler {
    margin-left: auto;
  }
  div h2 {
    font-size: 40px;
  }
  div h3 {
    font-size: 25px;
  }
}
.card {
  width: 12rem;
}
@media (min-width: 1450px) and (max-width: 1699px) {
  .card {
    width: 14rem;
  }
}
@media (min-width: 1700px) and (max-width: 1899px) {
  .card {
    width: 17rem;
  }
}
@media (min-width: 1900px) {
  .card {
    width: 20rem;
  }
}

.carousel-item {
  position: relative;
}
.carousel-item .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  background: radial-gradient(circle, rgba(228, 6, 6, 0.6) 0%, rgba(113, 19, 19, 0) 100%);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

header h1 {
  display: flex;
  gap: 10px;
  color: rgb(27, 97, 27) !important;
  transition: 0.5s;
}
header h1 span {
  font-size: 6.5vw;
  transition: 0.5s;
  animation-name: aparicion;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
header h1 span:nth-child(1) {
  animation-delay: 0.2s;
}
header h1 span:nth-child(2) {
  animation-delay: 0.4s;
}
header h1 span:nth-child(3) {
  animation-delay: 0.6s;
}
header h1 span:nth-child(4) {
  animation-delay: 0.8s;
}
header h1 span:nth-child(5) {
  animation-delay: 1s;
}
header h1 span:nth-child(6) {
  animation-delay: 1.2s;
}
header h1 span:nth-child(7) {
  animation-delay: 1.4s;
}
header h1 span:nth-child(8) {
  animation-delay: 1.6s;
}
header h1 span:nth-child(9) {
  animation-delay: 1.8s;
}
header h1 span:nth-child(10) {
  animation-delay: 2s;
}
header h1 span:nth-child(11) {
  animation-delay: 2.2s;
}
header h1 span:nth-child(12) {
  animation-delay: 2.4s;
}
header h1 span:nth-child(13) {
  animation-delay: 2.6s;
}
header h1 span:nth-child(14) {
  animation-delay: 2.8s;
}
header h1 span:hover {
  transform: scale(1.5);
}

@keyframes aparicion {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
