
@media (min-width: 400px) and (max-width: 1350px) {
  .form-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr); 
  }
  .grid-container-referencia {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
  .footer-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .navbar-toggler {
      margin-left: auto;
    }
  div h2 {
    font-size: 40px;
  }  
  div h3 {
    font-size: 25px;
  }
}


.card {
  width: 12rem; 

  @media (min-width: 1450px) and (max-width: 1699px) {
    width: 14rem; 
  }

  @media (min-width: 1700px) and (max-width: 1899px) {
    width: 17rem; 
  }

  @media (min-width: 1900px) {
    width: 20rem; 
  }
}