.grid-card {
  border: 1px solid black;
  padding: none!important;
  margin: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black !important;
}


.card-text  {
  background-color: black!important;
  padding: 1rem;
  border-radius: 10px;

}
