.footer-container {
    @include grid (2, 1, 5px);

  .mapa-container{
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .nav-container {
    display: flex;
    justify-content: center;
  }
}



