.grid-container-referencia {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  margin: auto;
}

.card-img-top {
  border-radius: 5px !important;  /* Elimina el radio de las esquinas */
}

.card {
  border: 0.2rem solid orange!important;
  background-color: #000!important;
}

.col-md-4 {
  border: 1px solid black;
  padding: 20px;
}

.tamaño-img {
  width: 60%;
  padding: 10px;
  border-radius: 15px;
  transition: transform 1s ease-in-out;
  &:hover {
    transform: rotateX(360deg);
  }
}

.btn-success {
  background-color: #D8A25E!important;
  color: white!important;

}

.text-muted.text-center{
  color: red !important;
}

/* Fondo negro y texto blanco */
.swal2-popup {
  background-color: #000 !important; /* Fondo negro */
  color: #fff !important; /* Texto blanco */
  border-radius: 10px; /* Opcional: bordes redondeados */
}

/* Color del título */
.swal2-title {
  color: #fff !important; /* Texto blanco */
}

/* Color del texto */
.swal2-html-container {
  color: #fff !important; /* Texto blanco */
}

/* Personalización del icono de check */
.swal2-success {
  border-color: white !important; /* Borde del círculo del check en naranja */
}

.swal2-success-circular-line-left,
.swal2-success-circular-line-right {
  background-color: black !important; /* Líneas del círculo en naranja */
}

.swal2-success-fix {
  background-color: black !important; /* Arreglo del ícono en naranja */
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: orange !important; /* Check en naranja */
}

/* Botón de confirmación personalizado */
.swal2-confirm {
  background-color: #333 !important; 
  color: #fff !important; 
  border: none !important; 
}

.swal2-confirm:hover {
  background-color: #555 !important; 
}



/* Estilos exclusivos para los botones de producto */
.product-button {
  width: 40%; 
  padding: 5px 0; 
  text-align:none; 
  background-color: #333; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

#productossect .badge {
  background-color: black !important; 
  color: white !important;           
  font-weight: bold;               
}

#productossect .list-group-item {
  background-color: black !important;
  color: white !important;            
  display: flex;                     
  justify-content: space-between;    
  align-items: center;                
  padding: 10px;                      
  border: 1px solid orange;          
}

#productossect .list-group-item .badge {
  background-color: transparent; 
  color: orange !important;      
  font-weight: bold;
}