* {
  margin: 0;
  padding: 0;
  font-family: "Moderustic", sans-serif;
  font-size: 25px;
  color: white;
}

.fondo-txt {
  border: 5px solid rgb(197, 82, 41);
}

h1 span{
  color: $color-titulo-principal !important
}

body {
  background-color: $color-fondo !important;
  margin: 0;
  padding: 0;

  a:visited{
    color: white;
  }
  
  a:hover {
    color: green;
  }
  
  a:active {
    color: white;
  }
}

.box-h1 {
display: flex;
justify-content: center;
margin: auto;
}

div {
  h2 {
  font-size: 100px;
  color: $color-titulos-h2;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
  &:hover {
  animation: bounce;
  animation-duration: 1s;
  }
}
  h3 {
    font-size: 50px;
    color: $color-titulos-h3;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: normal;
  }
  
}


