$colores-cookies: (
  cookie-clasica: #A04747,
  cookie-brownie: #D8A25E,
  cookie-limon: #b4a64a,
  cookie-dulce-de-leche:#A04747,
  cookie-avellanas:#D8A25E,
  cookie-de-chocolate-blanco:#beaf4d,
);


@each $key, $valor in $colores-cookies {
  .cf-#{$key} {
    background: $valor;
    border-radius: 10px;
    &:hover {
      background-color: darken($valor, 10%);
    }
  }  
}

@mixin grid ($col, $row, $gap) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-template-rows: repeat($row, 1fr);
  gap: $gap;
}
